.login-page{

    min-height:100vh;

    display:grid;

    grid-template-columns:1fr 450px;

    align-items:center;

    padding:5% 8%;

    gap:70px;
}

.login-left h1{

    font-size:clamp(3rem,6vw,5rem);

    margin-bottom:25px;

    line-height:1.1;
}

.login-left p{

    font-size:1.1rem;

    color:#cbd5e1;

    max-width:550px;

    line-height:1.8;
}

/* Card */

.login-card{

    background:rgba(18,25,48,.78);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.15);

    border-radius:24px;

    padding:40px;

    box-shadow:0 15px 40px rgba(0,0,0,.35);
}

.login-card h2{

    text-align:center;

    margin-bottom:35px;

    font-size:2rem;
}

/* Inputs */

.input-box{

    display:flex;

    align-items:center;

    gap:15px;

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.1);

    border-radius:14px;

    padding:15px 18px;

    margin-bottom:22px;

    transition:.3s;
}

.input-box:hover{

    border-color:#60a5fa;
}

.input-box:focus-within{

    border-color:#60a5fa;

    box-shadow:0 0 15px rgba(96,165,250,.2);
}

.input-box input{

    flex:1;

    background:none;

    border:none;

    outline:none;

    color:white;

    font-size:1rem;
}

.input-box svg{

    color:#60a5fa;
}

.eye{

    cursor:pointer;
}

/* Options */

.login-options{

    display:flex;

    justify-content:center;

    align-items:center;


    margin-bottom:30px;

    font-size:.9rem;
}

.login-options label{

    display:flex;

    gap:8px;

    color:#cbd5e1;
}

.login-options a{

    color:#60a5fa;

    text-decoration:none;
}

.login-options a:hover{

    text-decoration:underline;
}

/* Button */

.login-btn{

    width:100%;

    border:none;

    border-radius:14px;

    padding:16px;

    font-size:1rem;

    font-weight:600;

    cursor:pointer;

    color:white;

    background:#2563eb;

    transition:.3s;
}

.login-btn:hover{

    transform:translateY(-3px);

    background:#1d4ed8;
}

/* Bottom */

.signup-text{

    text-align:center;

    margin-top:25px;

    color:#cbd5e1;
}

.signup-text a{

    color:#60a5fa;

    text-decoration:none;

    font-weight:600;
}

.signup-text a:hover{

    text-decoration:underline;
}

/* Responsive */

@media(max-width:900px){

.login-page{

    grid-template-columns:1fr;

    padding:40px 20px;
}

.login-left{

    text-align:center;
}

.login-left p{

    margin:auto;
}

.login-card{

    max-width:450px;

    width:100%;

    margin:auto;
}

}